﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain2.cshtml";
}

<div class="span9">
    @using (Html.BeginForm("GetAccess", "GetAccessToken", FormMethod.Post))
    {
        <input type="checkbox" name="SelectedGender" value="Information_user" /><span>&nbsp;&nbsp;&nbsp;Information_user&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="checkbox" name="SelectedGender" value="Edit_user" /><span>&nbsp;&nbsp;&nbsp;Edit_user&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br /><br />
        <input type="submit" value="Get Access Token" />
    }
</div>
<script>
    var id = null;
    var flagLoadPage = 103;
</script>
