﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("LoginFacebook", "Login", FormMethod.Post))
{
    <h2>Đăng Nhập Bằng Facebook</h2>
    <br /><br />
    <input id="loginFB" type="submit" value="Login With Facebook" />
    <input id="logoutFB" type="submit" value="Logout Facebook" style="display:none" />
}
