﻿@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain2.cshtml";
    string url = Request.Url.AbsoluteUri;
    string port = ":" + Request.Url.Port;
    url = url.Replace(port,"");
    ViewBag.Url = url;
}
<div class="span9">
    <div class="row" data-bind="foreach: product">
	    <div class="span4">
		    <a data-bind="attr: { href: AnhMinhHoa }" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img alt="" data-bind="    attr: { src: AnhMinhHoa }" /></a>
        </div>
	    <div class="span5">

		    <address>
			    <strong >Nhà Sản Xuất:</strong> <span data-bind ="text: NhaSanXuat"></span><br>
			    <strong >Tên Sản Phẩm:</strong> <span data-bind ="text: TenSanPham"></span><br>
			    <strong>Điểm Bình CHọn:</strong> <span data-bind="text: DiemBinhChon"></span><br>
			    @*<strong>Availability:</strong> <span>Out Of Stock</span><br>*@								
		    </address>									
		    <h4><strong>Giá: <span data-bind="text: Gia"></span></strong></h4>
	    </div>
	    <div class="span5">
		    <form class="form-inline">
			    <label class="checkbox">
				    <input type="checkbox" value=""> Option one is this and that
			    </label>
			    <br/>
			    <label class="checkbox">
				    <input type="checkbox" value=""> Be sure to include why it's great
			    </label>
                <br/>
                <br/>
                <label class="checkbox">
				    <fb:share-button href="@ViewBag.Url" type="button"></fb:share-button>
			    </label>
                &nbsp;&nbsp;&nbsp;
                <label class="checkbox">
				    <fb:like class="likehehe" layout="button_count" href="@ViewBag.Url" show-faces="true" width="450px" action="like" colorscheme="light" />
			    </label>
			    <p>&nbsp;</p>
			    <label>Qty:</label>
			    <input type="text" class="span1" placeholder="1">
			    <button class="btn btn-inverse" type="submit">Add to cart</button>
		    </form>
	    </div>							
    </div>
    <div class="row">
	    <div class="span9">
		    <ul class="nav nav-tabs" id="myTab">
			    <li class="active"><a href="#home">Mô Tả</a></li>
			    <li class=""><a href="#profile">Bình Luận</a></li>
		    </ul>							 
		    <div class="tab-content" data-bind="foreach: product">
			    <div class="tab-pane active" id="home" data-bind="html: MoTa"></div>
			    <div class="tab-pane" id="profile">
				    <table class="table table-striped shop_attributes">	
					    <tbody>
                            <div class="fb-comments" data-href="@ViewBag.Url" data-width="700" data-numposts="5" data-colorscheme="light"></div>
					    </tbody>
				    </table>
			    </div>
		    </div>							
	    </div>						
	    <div class="span9">	
		    <br>
		    <h4 class="title">
			    <span class="pull-left"><span class="text"><strong>Cháy</strong> Hàng</span></span>
			    <span class="pull-right">
				    <a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
			    </span>
		    </h4>
		    <div id="myCarousel-1" class="carousel slide">
			    <div class="carousel-inner">
				    <div class="active item">
					    <ul class="thumbnails listing-products" data-bind="foreach: productsame">
						    <li class="span3">
							    <div class="product-box">
								    <span class="sale_tag"></span>												
								    <a data-bind="attr: { href: url }"><img alt="" data-bind="attr: { src: AnhMinhHoa }"></a><br/>
								    <a data-bind="attr: { href: url }, text: TenSanPham" class="title"></a><br/>
								    <p class="price" data-bind="text: Gia"></p>
							    </div>
						    </li>												
					    </ul>
				    </div>
				    <div class="item">
					    <ul class="thumbnails listing-products" data-bind="foreach: productsame2">
						    <li class="span3">
							    <div class="product-box">
								    <span class="sale_tag"></span>												
								    <a data-bind="attr: { href: url }"><img alt="" data-bind="attr: { src: AnhMinhHoa }"></a><br/>
								    <a class="title" data-bind="attr: { href: url },   text: TenSanPham"></a><br/>
								    <p class="price" data-bind="text: Gia"></p>
							    </div>
						    </li>       
					    </ul>
				    </div>
			    </div>
		    </div>
	    </div>
    </div>
</div>
<script>
    var id = null;
    var flagLoadPage = 101;
    function Set(data) {
        id = data;
    }
    window.onload = Set(@ViewBag.IdMaSanPham);
</script>