﻿@{
    ViewBag.Title = "ShowProduct";
    Layout = "~/Views/Shared/_LayoutMain2.cshtml";
}
<div class="span9">								
	<ul class="thumbnails listing-products" data-bind="foreach: productfollowkind">
		<li class="span3">
			<div class="product-box">
				<span class="sale_tag"></span>												
				<a data-bind="attr: { href: url }"><img alt="" data-bind="attr: { src: AnhMinhHoa }"></a><br/>
				<a data-bind="attr: { href: url }, text: TenSanPham" class="title"></a><br/>
				<a href="#" class="category">Phasellus consequat</a>
				<p class="price" data-bind="text: Gia"></p>
			</div>
		</li>       
	</ul>								
	<hr>
</div><script>
    var id = null;
    var flagLoadPage = 102;
    function Set(data) {
        id = data;
    }
    window.onload = Set(@ViewBag.IdMaNhaSanXuat);
</script>
