﻿@{
    ViewBag.Title = "AcceptAccestoken";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@ViewBag.name Muốn Sử Dụng @ViewBag.scope Của Bạn, Bạn Có Cho Phép ??</h2>
@using (Html.BeginForm("SetCode", "Home", FormMethod.Post))
{
    <input type="submit" value="Yes" name="btn" />
    <span>&nbsp;&nbsp;&nbsp;</span>
    <input type="submit" value="No" name="btn" />
}