﻿@{
    ViewBag.Title = "ClientOAuth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BẠN CÓ MUỐN SỬ DỤNG @ViewBag.scope ?</h2>
@using (Html.BeginForm("GetAccess", "GetAccessToken", FormMethod.Post))
{
    <input type="submit" value="Yes" name="sub"/>
    <input type="submit" value="No" name="sub"/>
}