﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Bạn Có Muốn Sử Dụng Email @ViewBag.email Để Đăng Ký Tài Khoản Không ?</h2>
<br /><br />
@using (Html.BeginForm("Reg", "Register", FormMethod.Post))
{
    <input type="submit" value="Yes" name="btn"/>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <input type="submit" value="No" name="btn"/>
}
