﻿<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap E-commerce Templates</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/themes/css/bootstrappage.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/themes/css/flexslider.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/themes/css/main.css" rel="stylesheet">
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form class="search_form" method="POST">
                <input class="input-block-level search-query" type="text" placeholder="eg. T-sirt">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li>
                            <div id="auth-loggedin">
                                <span id="auth-displayname" style="font-weight:bold;"></span>
                                <span id="auth-displaypicture"></span>
				            </div>	
                        </li>
                        <li>
                            <a href="/LoginFacebook/" id="txtlogin">Login</a>
                            <a href="#" id="txtlogout" style="display:none">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
			<div class="navbar-inner main-menu">				
				<a href="/" class="logo pull-left"><img src="~/Content/themes/images/logo.png" class="site_logo" alt=""></a>
				<nav id="menu" class="pull-right">
					<ul>
						<li><a href="#">Sản Phẩm</a>					
							<ul>
								<li><a href="/DetailProduct/ShowProduct/1">Dell</a></li>									
								<li><a href="/DetailProduct/ShowProduct/2">Acer</a></li>
								<li><a href="/DetailProduct/ShowProduct/3">HP</a></li>
                                <li><a href="/DetailProduct/ShowProduct/4">Asus</a></li>
                                <li><a href="/DetailProduct/ShowProduct/5">Lenovo</a></li>
                                <li><a href="/DetailProduct/ShowProduct/6">Sony</a></li>									
							</ul>
						</li>
                        <li><a href="#">About</a></li>	
					</ul>
				</nav>
			</div>
		</section>
        @RenderBody()
        <section class="our_client">
	        <h4 class="title"><span class="text">Manufactures</span></h4>
	        <div class="row">					
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/1.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/2.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/3.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/4.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/5.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/6.png"></a>
		        </div>
	        </div>
        </section>
        <section id="footer-bar">
	        <div class="row">
		        <div class="span3">
			        <h4>Navigation</h4>
			        <ul class="nav">
				        <li><a href="/">Homepage</a></li>  
				        <li><a href="#">About Us</a></li>
				        <li><a href="#">Contac Us</a></li>
				        <li><a href="#">Your Cart</a></li>
				        <li><a href="#">Login</a></li>							
			        </ul>					
		        </div>
		        <div class="span4">
			        <h4>My Account</h4>
			        <ul class="nav">
				        <li><a href="#">My Account</a></li>
				        <li><a href="#">Order History</a></li>
				        <li><a href="#">Wish List</a></li>
				        <li><a href="#">Newsletter</a></li>
			        </ul>
		        </div>
		        <div class="span5">
			        <p class="logo"><img src="~/Content/themes/images/logo.png" class="site_logo" alt=""></p>
			        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
			        <br/>
			        <span class="social_icons">
			        </span>
		        </div>					
	        </div>	
        </section>
    <section id="copyright">
	    <span>Copyright 2013 bootstrappage template  All right reserved.</span>
    </section>
    </div>
    <script src="~/Content/themes/js/common.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/js/superfish.js"></script>
    <script src="~/Content/themes/js/jquery.scrolltotop.js"></script>
    <script src="~/Content/themes/js/jquery.flexslider-min.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/login.js"></script>
    <script src="~/Scripts/Home/index.js"></script>

	<script type="text/javascript">
		$(function () {
		    $(document).ready(function () {
		        $('.flexslider').flexslider({
		            animation: "fade",
		            slideshowSpeed: 4000,
		            animationSpeed: 600,
		            controlNav: false,
		            directionNav: true,
		            controlsContainer: ".flex-container" // the container that holds the flexslider
		        });
		    });
		});
	</script>
</body>
</html>