﻿<html>
<head>
    <meta charset="utf-8">
		<title>Bootstrap E-commerce Templates</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		
		<!-- bootstrap -->
		<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="~/Content/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">		
		<link href="~/Content/themes/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="~/Content/themes/css/main.css" rel="stylesheet"/>
		<link href="~/Content/themes/css/jquery.fancybox.css" rel="stylesheet"/>
				
		<!-- scripts -->
		
</head>
<body>
    <div id="fb-root"></div>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form class="search_form" method="POST">
                <input class="input-block-level search-query" type="text" placeholder="eg. T-sirt">
                </form>
            </div>
            <div class="span8">
                <div class="account pull-right">
                    <ul class="user-menu">
                        <li>
                            <div id="auth-loggedin">
                                <span id="auth-displayname" style="font-weight:bold;"></span>
                                <span id="auth-displaypicture"></span>
				            </div>	
                        </li>
                        <li>
                            <a href="/LoginFacebook/" id="txtlogin" style="display:none">Login</a>
                            <a href="#" id="txtlogout" style="display:none">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper" class="container">
        <section class="navbar main-menu">
			<div class="navbar-inner main-menu">				
				<a href="/" class="logo pull-left"><img src="~/Content/themes/images/logo.png" class="site_logo" alt=""></a>
				<nav id="menu" class="pull-right">
					<ul>
						<li><a href="#">Sản Phẩm</a>					
							<ul>
								<li><a href="/DetailProduct/ShowProduct/1">Dell</a></li>									
								<li><a href="/DetailProduct/ShowProduct/2">Acer</a></li>
								<li><a href="/DetailProduct/ShowProduct/3">HP</a></li>
                                <li><a href="/DetailProduct/ShowProduct/4">Asus</a></li>
                                <li><a href="/DetailProduct/ShowProduct/5">Lenovo</a></li>
                                <li><a href="/DetailProduct/ShowProduct/6">Sony</a></li>									
							</ul>
						</li>
                        <li><a href="#">About</a></li>			
					</ul>
				</nav>
			</div>
		</section>
        <section class="header_text sub">
        <img class="pageBanner" src="~/Content/themes/images/Laptop-Banner73.jpg" alt="New products" >
	        <h4><span>Product Detail</span></h4>
        </section>
        <section class="main-content">				
	        <div class="row">						
		        @RenderBody()
		        <div class="span3 col">
			        <div class="block">	
				        <ul class="nav nav-list">
					        <li class="nav-header">Nhà Sản Xuất</li>
					        <li><a href="/DetailProduct/ShowProduct/1">Dell</a></li>
					        <li><a href="/DetailProduct/ShowProduct/2">Acer</a></li>
					        <li><a href="/DetailProduct/ShowProduct/3">HP</a></li>
					        <li><a href="/DetailProduct/ShowProduct/4">Asus</a></li>
					        <li><a href="/DetailProduct/ShowProduct/5">Lenovo</a></li>
					        <li><a href="/DetailProduct/ShowProduct/6">Sony</a></li>
				        </ul>
				        <br/>
				        <ul class="nav nav-list below">
					        <li class="nav-header">Thành Viên Nhóm:</li>
					        <li><a href="products.html">1242134 - Phùng Liên Thắng</a></li>
					        <li><a href="products.html">1242018 - Phan Viết Cường</a></li>
					        <li><a href="products.html">1241025 - Phan Van Đức</a></li>
					        <li><a href="products.html">1241114 - Huỳnh Nhựt Phương</a></li>
				        </ul>
			        </div>
			        <div class="block">
				        <h4 class="title">
					        <span class="pull-left"><span class="text">Randomize</span></span>
					        <span class="pull-right">
						        <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
					        </span>
				        </h4>
				        <div id="myCarousel" class="carousel slide">
					        <div class="carousel-inner">
						        <div class="active item">
							        <ul class="thumbnails listing-products" data-bind="foreach: productrandom">
								        <li class="span3">
									        <div class="product-box">
										        <span class="sale_tag"></span>												
										        <a data-bind="attr: { href: url }"><img alt="" data-bind="    attr: { src: AnhMinhHoa }" /></a><br/>
										        <a class="title"  data-bind="attr: { href: url }, text: TenSanPham"></a><br/>
										        <p class="price" data-bind="text: Gia"></p>
									        </div>
								        </li>
							        </ul>
						        </div>
						        <div class="item">
							        <ul class="thumbnails listing-products" data-bind="foreach: productrandom2">
								        <li class="span3">
									        <div class="product-box">												
										        <a data-bind="attr: { href: url }"><img alt="" data-bind="    attr: { src: AnhMinhHoa }" /></a><br/>
										        <a class="title" data-bind="attr: { href: url }, text: TenSanPham"></a><br/>
										        <p class="price" data-bind="text: Gia"></p>
									        </div>
								        </li>
							        </ul>
						        </div>
					        </div>
				        </div>
			        </div>
			        <div class="block">								
				        <h4 class="title"><strong>Best</strong> Seller</h4>								
				        <ul class="small-product" data-bind="foreach: producthot">
					        <li>
						        <a href="#" title="Praesent tempor sem sodales">
							        <img  data-bind="attr: { src: AnhMinhHoa }" alt="Praesent tempor sem sodales">
						        </a>
						        <a href="#" data-bind="attr: { href: url }, text: TenSanPham">Praesent tempor sem</a>
					        </li>
				        </ul>
			        </div>
		        </div>
	        </div>
        </section>
        <section class="our_client">
	        <h4 class="title"><span class="text">Manufactures</span></h4>
	        <div class="row">					
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/1.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/2.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/3.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/4.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/5.png"></a>
		        </div>
		        <div class="span2">
			        <a href="#"><img alt="" src="~/Content/themes/images/clients/6.png"></a>
		        </div>
	        </div>
        </section>
        <section id="footer-bar">
	        <div class="row">
		        <div class="span3">
			        <h4>Navigation</h4>
			        <ul class="nav">
				        <li><a href="/">Homepage</a></li>  
				        <li><a href="#">About Us</a></li>
				        <li><a href="#">Contac Us</a></li>
				        <li><a href="#">Your Cart</a></li>
				        <li><a href="#">Login</a></li>							
			        </ul>					
		        </div>
		        <div class="span4">
			        <h4>My Account</h4>
			        <ul class="nav">
				        <li><a href="#">My Account</a></li>
				        <li><a href="#">Order History</a></li>
				        <li><a href="#">Wish List</a></li>
				        <li><a href="#">Newsletter</a></li>
			        </ul>
		        </div>
		        <div class="span5">
			        <p class="logo"><img src="~/Content/themes/images/logo.png" class="site_logo" alt=""></p>
			        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
			        <br/>
		        </div>					
	        </div>	
        </section>
    <section id="copyright">
	    <span>Copyright 2013 bootstrappage template  All right reserved.</span>
    </section>
    </div>
</body>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>				
<script src="~/Content/themes/js/superfish.js"></script>	
<script src="~/Content/themes/js/jquery.scrolltotop.js"></script>
<script src="~/Content/themes/js/jquery.fancybox.js"></script>  
<script src="~/Content/themes/js/common.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Scripts/login.js"></script>
<script src="~/Scripts/Product/Product.js"></script>
<script>
    $(function () {
        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    })
    $(document).ready(function () {
        $('.thumbnail').fancybox({
            openEffect: 'none',
            closeEffect: 'none'
        });

        $('#myCarousel-2').carousel({
            interval: 2500
        });
    });
</script>
</html>