﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<section  class="homepage-slider" id="home-slider">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<img src="~/Content/themes/images/carousel/banner-1.jpg" alt="" />
			</li>
			<li>
				<img src="~/Content/themes/images/carousel/banner-2.jpg" alt="" />
			</li>
		</ul>
	</div>			
</section>
<section class="header_text">
	We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates. 
	<br/>Don't miss to use our cheap abd best bootstrap templates.
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">													
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Hàng <strong>Hot</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails" data-bind="foreach: product">												
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a data-bind="attr: {href: Url}"><img data-bind="attr: { src: AnhMinhHoa }" alt="" /></a></p>
											<a href="product_detail.html" class="title" data-bind="text: TenSanPham"></a><br/>
											<a href="products.html" class="category">Commodo consequat</a>
											<p class="price" data-bind="text: Gia"></p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails" data-bind="foreach: product2">
									<li class="span3">
										<div class="product-box">
											<p><a data-bind="attr: { href: Url }"><img data-bind="    attr: { src: AnhMinhHoa }" alt="" /></a></p>
											<a href="product_detail.html" class="title" data-bind="text: TenSanPham"></a><br/>
											<a href="products.html" class="category">Quis nostrud</a>
											<p class="price" data-bind="text: Gia"></p>
										</div>
									</li>																																
								</ul>
							</div>
						</div>							
					</div>
				</div>						
			</div>
			<br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Có Thể Bạn <strong>Quan Tâm</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-2" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails" data-bind="foreach: product3">												
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a data-bind="attr: { href: Url }"><img data-bind="    attr: { src: AnhMinhHoa }" alt="" /></a></p>
											<a href="product_detail.html" class="title" data-bind="text: TenSanPham"></a><br/>
											<a href="products.html" class="category">NB Lenovo</a>
											<p class="price" data-bind="text: Gia"></p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails" data-bind="foreach: product4">
									<li class="span3">
										<div class="product-box">
											<p><a data-bind="attr: { href: Url }"><img data-bind="    attr: { src: AnhMinhHoa }" alt="" /></a></p>
											<a href="product_detail.html" class="title" data-bind="text: TenSanPham"></a><br/>
											<a href="products.html" class="category">Quis nostrud</a>
											<p class="price" data-bind="text: Gia"></p>
										</div>
									</li>																																	
								</ul>
							</div>
						</div>							
					</div>
				</div>						
			</div>
            <br/>
			<div class="row">
				<div class="span12">
					<h4 class="title">
						<span class="pull-left"><span class="text"><span class="line">Hàng <strong>Phong Vũ</strong></span></span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-3" data-slide="prev"></a><a class="right button" href="#myCarousel-3" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-3" class="myCarousel carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails" data-bind="foreach: productRuttrich1">												
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<p><a data-bind="attr: { href: Url }"><img data-bind="attr: { src: AnhMinhHoa }" alt="" /></a></p>
											<a href="product_detail.html" class="title" data-bind="text: title"></a><br/>
											<p class="price" data-bind="text: Gia"></p>
										</div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails" data-bind="foreach: productRuttrich1">
									<li class="span3">
										<div class="product-box">
											<p><a data-bind="attr: { href: Url }"><img data-bind="    attr: { src: AnhMinhHoa }" alt="" /></a></p>
											<a href="product_detail.html" class="title" data-bind="text: title"></a><br/>
											<p class="price" data-bind="text: Gia"></p>
										</div>
									</li>																																	
								</ul>
							</div>
						</div>							
					</div>
				</div>						
			</div>
			<div class="row feature_box">						
				<div class="span4">
					<div class="service">
						<div class="responsive">	
							<img src="~/Content/themes/images/feature_img_1.png" alt="" />
							<h4>MODERN <strong>DESIGN</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>									
						</div>
					</div>
				</div>
				<div class="span4">	
					<div class="service">
						<div class="customize">			
							<img src="~/Content/themes/images/feature_img_2.png" alt="" />
							<h4>FREE <strong>SHIPPING</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="service">
						<div class="support">	
							<img src="~/Content/themes/images/feature_img_3.png" alt="" />
							<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
							<p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
						</div>
					</div>
				</div>	
			</div>		
		</div>				
	</div>
</section>
<script>
    sessionStorage.accesstoken ="@Session["accesstoken"]";
</script>
